.App {
  text-align: center;
}
.main-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100vw;
  margin: auto;
  /* height: 100vh; */
}
.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 50px auto;
  border-radius: 30px;
  transform: rotateY(-28deg);
  transform: scaleZ(1.5);
}
.light-head {
  border: 20px solid black;
  border-radius: 30px;
  transform: rotateY(-28deg);
}
.traffic-pole {
  height: 200px;
  width: 25px;
  background-color: black;
  border-radius: 5px;
}

.light {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(33, 31, 31);
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.imgRoad {
  width: 80%;
  overflow: hidden;
}
